.PORTFOLIO {
    margin: 50px 50px;
}
.PORTFOLIO h3{
    margin: 8px;
}
.PORTFOLIO table{
    margin: 20px 20px; background-color: blue
}
.PORTFOLIO table tr td{
    padding: 40px;
}
.PORTFOLIO table tr td a{
    font-size: 25px; color: white
}
.PORTFOLIO{
    ba
}